// bower:scss
@import "bower_components/normalize-scss/_normalize.scss";
@import "bower_components/susy/sass/_susy.scss";
// endbower

@import "default/_variables.scss";

$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
);

@import "default/_header.scss";
@import "default/_content-transaksi.scss";
@import "default/_content-laporan.scss";


.content{

}

.kembali-area{
	background-color:rgba(0,0,0,0.2);
	position:fixed;
	width: 100vw;
	height: 100vh;
	display:none;
	.wrapper{
		background-color:black;
		color:white;
		position:fixed;
		width: 300px;
		height: 100px;
		top:50%;
		left:50%;
		transform: translateX(-50%) translateY(-50%);
	}
	button{
		position:fixed;
		left: 50%;
		bottom:0;
		transform: translateX(-50%);
		color:black;
	}
}

.popup{
	position:fixed;
	width:100vw;
	height:100vh;
	background-color:rgba(0,0,0,0.8);
	color:white;
	padding-top:220px;
	display:none;
	.row{
		@include span(12);
		color:white;
		text-align: center;
		margin-top: 10px;
	}
	button{
		@include span(1);
		margin-left: span(5.5);
		margin-right: span(5.5);
		margin-top: 30px;
		color:black;	
	}
	img{
		width: 150px;
		margin:30px;
	}
	.row-qty{
		@include span(3);
		margin-left: span(4.5);
		margin-right: span(4.5);
		.col{
			@include span(4);
		}
		button{
			margin:0;
			padding:0;
			color:black;
		}
	}
}