.content-laporan{
	@include span(12 nest);
	height:100vh;
	padding-top:100px;
	.row{
		@include span(12 nest);
		.col{
			@include span(3);
			text-align: center;
			border:1px solid black;
			padding:20px;
		}
	}
	.row-container{
		.col{
		
		}
	}
	.row-rekap{
		.col{
			@include span(4);
		}
	}
	.row-content-rekap{
		.col{
			@include span(4);
		
		}
	}
}