.content-transaksi{
	@include span(12 nest);
	height:100vh;
	padding-top:100px;
	.row-title{
		@include span(12 nest);
		.title-input{
			@include span(8);
			text-align: center;
			background-color: #DDD;
			height: 50px;
		}
		.title-output{
			@include span(4);
			background-color: #CCC;
			height: 50px;
			.col{
				@include span(4);
				text-align: center;
			}
		}
	}
	.row-container{
		@include span(12 nest);
		.container-input{
			@include span(8);
			background-color:#EEE;
			.items{
				@include span(12);
				.item-wrapper{
					@include span(3);
					.item{
						width:150px;
						height: 150px;
						margin:auto;
						// display: inline-block;
						// margin-left: span(1.5);
						// margin-right: span(1.5);
						text-align: center;
						background-color:lightyellow;
						// padding:80px;
						margin-top: 10px;
						margin-bottom: 10px;

						border:1px solid black;
					}
				}
			}
		}
		.container-output{
			@include span(4);
			height: 618px;
			background-color:#DDD;
			.row{
				@include span(12);
				.col{
					@include span(4);
				}
			}
			.hitung-area{

				width: 200px;
				position: absolute;
				bottom:0;
				right: 0;
				background-color:#999;

				input{
					width: 120px;
				}
				.wrapper{
					@include span(12);
					padding:10px;
				}
				button{
					width: 100%;
				}
			}
		}
	}
}