.header{
	@include span(12 nest);
	background-color: #000;
	position: fixed;
	top:0;
	z-index: 999;
	.logo{
		@include span(2);
		height: 100px;
		background-color:#000;
		img{
			width: 65%;
			margin:auto;
		}
	}
	.nav{
		@include span(10);
		text-align: right;
		ul{
			li{
				list-style-type: none;
				display: inline-block;
				background-color:#CCC;
				padding:20px;
				border-radius: 10px;
				margin-right: 6px;
				a{
					padding:20px;
				}
			}
			.mr10{
				margin-right: 10px;
			}
		}
	}
}